<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index/styles.css') }}">
</head>
<body>
	<div class="container">
		<div class="row">
		   <div class="col-xs-12" id="resHead">
			   <h3>Développeur Data Intelligence Artificielle</h3>
			   <h1>Ada Lovelace et Alan Turing promotion</h1>
			   <img width=500px class="img-responsive"  src="{{url_for('static', filename='alan & ada.jpg.png')}}" />
		   </div>
		 </div>
		<h2>Détection de commentaire positif/négatif</h2>
		
	</div>
	</header>
	
	

</body>
</html>