body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0px;
}

.container{
	width:100%;
	margin: auto;
	overflow: hidden;
}

#resHead {
	text-align:center;
	background-color:#ffffff;
	color:#fff;
	padding:1%;
  }

#resHead h1 {
	color: rgb(50, 0, 187);
	font-weight:bold;
	font-size:35px;
}

#resHead h2 {
	color: rgb(50, 0, 187);
	font-weight:bold;
	font-size:35px;
}

#resHead h3 {
	color: rgb(50, 0, 187);
	font-size:17px;
}
  
body  {
    background-image: ur({url_for('static', filename='ia-intelligence-artificielle.png')});
}